.settings{
    background-color: white;
    padding: 10px;
}
.user-profile{
    margin-left: 10px;
    display: flex;
    gap: 20px;
    
}
.user-profile img{
    width: 20%;
    margin-top: 10px;
}
.right p{
    margin: 0px;
}
.right{
    margin-top: 20px;
}
.user-name{
    font-weight: 500;
    color: black;
    font-size: 1rem;
}
.user-email{
    color: black;
}
.description{
    margin-left: 5px;
    text-align: justify;
    margin-right: 5px;
 
}